@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Fredoka:wght@400;600&family=Chewy&family=Pacifico&family=Amatic+SC:wght@400;700&family=Caveat:wght@400;700&family=Poppins:wght@300;600&family=Montserrat:wght@400;700&family=Raleway:wght@300;700&display=swap');

body{
    background-color: #0A192F;
    margin: 0;
    padding: 0;
    animation: backgroundchange 2s ease forwards;
}

@keyframes backgroundchange {
    from {
        background-color: #0A192F;
    }
    to {
        background-color: #570fff;
    }
}

.Logos {
    position: relative;
    width: 50px;
    height: 50px;
}

.TopBar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px 20px;
    z-index: 999;
    background-color: rgb(10, 25, 47, 0.9);
    border-radius: 4px;
    animation: backgroundchange 2s ease forwards;
}

/* .Growingbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px 20px;
    z-index: 1002;
    background-color: rgb(10, 25, 47, 0.9);
    border-radius: 4px;
    animation: backgroundchange 2s ease forwards;

} */

.leftcontent{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}

.rightcontent{
    display: flex;
    gap: 1px;
    justify-content: flex-end;
}

.rightcontent button{
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    /* border-radius: 4px; */
    height: 40px;
    padding: 8px 15px;
    font-size: 16px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Fredoka';
    font-family: 'Chewy';
    font-family: 'Baloo 2';
    font-family: 'sans-serif';
    font-family: 'Pacifico';
    font-family: 'cursive';
    font-family: 'Amatic SC'; 
    font-family: 'Caveat';
    font-family: 'Poppins'; */
    font-family: 'Montserrat';
    /* font-family: 'Raleway'; */
    cursor: pointer;
    /* transition: background-color 0.5s ease; */
    transition: all 0.3s ease;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 6px, inset rgba(247, 247, 247, 0.15) 0px -10px 20px;
}

.rightcontent button:hover {
    background-color: #ffcf0f;
    color: black;
    transform: translateY(-3px);
    transform: translateX(-3px);
    box-shadow:#ffcf0f 0px 0px 5px, inset #ffcf0f 0px -100px 15px;
    z-index: 10;
}

.Logos img {
    position: absolute;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 0px rgba(247, 244, 244, 0.801));
    transition: filter 0.15s ease-in;
}

.Logos .normal{
    opacity: 1;
    animation: blink-shadow 2s infinite;
    filter: drop-shadow(0 0 10px rgb(255, 254, 254));
    transition: filter 0.2s, animation 0.2s;
}

@keyframes blink-shadow {
    0% {
      filter: drop-shadow(0 0 5px rgb(255, 0, 0));
    }
    50% {
      filter: drop-shadow(0 0 5px rgb(0, 255, 0));
    }
    100% {
      filter: drop-shadow(0 0 5px rgb(0, 0, 255));
    }
  }

.Logos .hover {
    opacity: 0; 
}

.Logos:hover .normal {
    opacity: 0;
    animation: none;
}

.Logos:hover .hover {
    opacity: 1;
    filter: drop-shadow(0px 0px 4px rgba(247, 244, 244, 0.801));
}

.line{
    border-left: 1px solid white;
    height: 60px;
}

.Heading{
    color: white;
    font-size: 25px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Fredoka'; */
    /* font-family: 'Chewy'; */ 
    /* font-family: 'Baloo 2'; */
    /* font-family: 'sans-serif'; */
    /* font-family: 'Pacifico'; */
    /* font-family: 'cursive'; */
    /* font-family: 'Amatic SC';  */
    /* font-family: 'Caveat'; */
    /* font-family: 'Poppins'; */
    font-family: 'Montserrat';
    /* font-family: 'Raleway'; */
}

/* UNDER WORK */
.content {
    display: flex;
    justify-content: center;
    margin-top: 200px; /* Pushes content below the fixed top bar */
    height: 200vh; /* Makes the page 2x the screen height */
    font-size: 24px;
    padding: 20px;
}

/* 
.Model1 {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
}

.trapez {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 370px;
    width: 80vw;  For responsive sizing/positioning, dont forget to use vw(viewpoint width) and vh(viewpoint height) */
    /* padding: 20px;
    background-color: rgb(255, 255, 255, 0.3);
}  */

/* Idea, each model will be blurred until scrolled onto. */

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* overflow: hidden; */
    transform-style: preserve-3d;
    transform: perspective(5000px);
}

img {
    object-position: top;
    object-fit: cover;
    height: 325px;
    width: 375px;
    display: block;
    transform: scale(1.2);
    transition: transform 0.5s ease;
    user-select: none;
}

.list .models:hover {
    transform: scale(1.1);
    z-index: 10;
}
